* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pixel;
    src: url(../static/PublicPixel-z84yD.ttf);
  }


body {
    display: flex;
    flex-direction: column;
    font-family: pixel;
    font-size: 3rem;
    font-weight: bold;
    gap: 16px;
    padding: 16px;


}
.container {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.cell {
    background-color: black;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    color: rgba(255, 255, 255, 0);
    text-shadow: none;
    transition: 0.5s;

}

.fade {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 5px white;
}

.reset, .name-btn {
    align-self: center;
    padding: 1rem 2rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: inherit;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    box-shadow: 3px 3px 2px black;
    transition: 0.09s;
    border: none;
    
}

.name-btn {
    font-size: 1rem;
    padding: 1.5rem 1rem;

}

.cell, .reset {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.reset:active, .name-btn:active {

    box-shadow: 1px 1px 2px black;

}

button {
    color: black;
}

input {
    border-radius: 0px;
    padding: 8px 16px;
    outline: none;
    border: 2px solid black;
    font-family: inherit;
}

form {
    display: inherit;
    flex-direction: row;
    gap: 0px;
    align-self: center;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    gap: 8px;
}
.winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.turn {
    align-self: center;
    font-family: inherit;
    font-size: 1rem;
}

select {
    border: 2px solid black;
    padding: 8px 16px;
    outline: none;
    align-self: center;
    font-family: inherit;

}